@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
body{
    height: 100vh;
    background: #212529;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Fixed/sticky position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    display: flex; /* Use flexbox */
    justify-content: flex-end; /* Align items to the right */
    z-index: 1000; /* Ensure it stays on top */
    height: 40px;
}


.navbar h2{
    color: rgb(103, 41, 173);
    font-weight: 800;
}

.navbar ul{
    display: flex;
    margin-top: 10px;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 16px;
    margin-right: 25px;
    transition: color 0.3 ease;
}

.main{
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main h3{
    font-size: 32px;
    color: #fff;
}

.main h3 span{
    color: rgb(103, 41, 173);
    
}
.main img{
    width: 200px;

}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    padding: 0 50px;
}
.about img{
    width: 280px;
}

.about .info h3{
    color: white;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .info p{
    color: whitesmoke;
    font-size: 20px;

}

.skills{
    display: flex;
    justify-content: space-around;
    padding: 0 50px;
    margin-top: 100px;
}
.skills .left .info h3{
    color: white;
    font-size: 35px;
  

}

.skills .left .info p {
    color: whitesmoke;
    font-size: 20px;
}

.skills .right{
    width: 420px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 13px;

}

.skills .right .icon{
    display: flex;
    background: gray;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    border-radius: 10px;
    font-size: 50px;
    border: 2px solid rgb(103, 41, 173);
}

.projects h2{
    color: white;
    font-size: 35px;
    margin-top: 200px;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.project {
    position: relative;
    display: flex;
    margin-bottom: 14rem;
    justify-content: flex-start
}

.project-image {
    width: 85%;
    position: relative;

}

.project-image img {
    width:200px;
    height: 250px;
    margin-right: 50px;
}

.project-left {
    align-self: flex-start;
    margin-left: 22rem;
    margin-top: 30px;
}

.project-right {
    align-self: flex-start;
    margin-left: 22rem;
    margin-top: 30px;
}
.project-left .project_info {
    left: -8rem;
    margin-right: -2rem
}

.main-title {
    font-size: 25px;
    color: white;
}
.sub-title {
    font-size: 20px; 
    color: white;
}

.project_description {
    font-size: 20px; 
    color: white;
}

.project_seemore {
    color: white; /* Set the text color to white */
    margin-top: 10px; /* Add some space above each link */
    display: block; /* Make each link a block element to put them on separate lines */
    text-decoration: none; /* Optional: Removes the underline from links */
    padding: 5px 0; /* Add some padding for better clickability */
}
